*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    border: 0;
    background-color: rgb(30, 30, 30);
    overflow-x: hidden;
	/*A high perspective to give the UL an isometric look*/
	perspective: 3000;
}


.box img {
	position: relative;
	left:50%;
	height: 300%; width:auto;
	/*3D Transform*/
	transform: rotateX(60deg) rotateZ(-60deg) translate(15%,-100%);
    
	/*Preserve 3D style for children*/
	transform-style: preserve-3d;
	transition: all 1s ease-in-out; 

}


.box:hover img{

	transform: translateX(-50%);
	height: 100%; width:auto;
	transform-style: preserve-3d;

	/* remove filter */
	-webkit-mask: none;
	-webkit-filter: none;
	mask: none;
	filter: none;
}

.box {
    overflow: hidden;
	height: 500px; width:500px;
	margin: 0 auto;
	margin-top: 100px;
	border-radius: 10px;
	position: relative;
}

/* optional gradient */
.gradient{
	position: absolute;
	width: 100%; height: 100%;
	z-index: 99;
	transition: all 1s ease-in-out; 
	background-image: linear-gradient(20deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0), rgba(255,255,255,1));
}

.gradient:hover{
	opacity: 0;
}